body {
  padding: 10px 10px 10px 10px;
  background-color:   #e6f7ff;
  color: #3e2a20;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

p{
  font-size: 15px;  
}

header, footer {
  background-color: #79a6d2;  
}

footer {
  padding-top: 25px;
}

h1, h2{
  font-family: 'Fascinate', cursive;
}

h1{
  padding: 5px 5px 5px 5px;
  font-size: 36px;
  -webkit-text-stroke: 2px #ffdd99;
}

h2{
  font-size: 24px;
  display: grid;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.logo {
  margin-right: 40px;
  margin-top: 30px;
  -webkit-animation:spin 4s linear ;
  -moz-animation:spin 4s linear ;
  animation:spin 4s linear ;
}

.nav {
  background-color:  #ffdd99;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.nav li{
  display: grid;
  justify-content: left;
}

.nav ul {
  margin: 0;
  padding:0;
}

.nav .current {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 8px #79a6d2;
}

.nav li a:link, .nav li a:visited {
  display: inline-block;
  width: 140px;
  color:  #3e2a20;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: #ffdd99;
}

.gallery {
  display: grid;
  justify-content: center;
}

.gallery img{
  filter: opacity(70%);
  max-width: 250px;
  max-height: 250px;
  border: 5px solid #79a6d2;
  border-radius: 25px;
  padding: 10px  10px 10px;
  margin: 20px 20px;
}

.gallery img:hover{
  filter: opacity(100%);
}

.kitsch, .colonial, .traditional{
  display: flex;
  flex-direction: column;
}

.kitsch img, .colonial img, .traditional img{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 250px;
  max-height: 250px;
  border: 5px solid  #79a6d2;
  border-radius: 25px;
}

.jcfurniture img{
  max-width: 200px;
  max-height: 200px;
  border-radius: 25px;
  margin: 10px 10px 10px 10px;
}
.jcfurniture{
  display: grid;
  justify-content: center;
}

.content img{
  border-radius: 25px;
  display: inline;

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content h2{
  display: flex;
  justify-content: center;
  border: 3px solid  #79a6d2;
}

#attributes {
  display:flex;
  justify-content: center;
  font-weight: bold;
}

header{
  background-image: url(../photos/headerbackground.jpeg);
  background-attachment: fixed;
  background-position: center;
}

header img {
  float: right;
  width: 120px;
  mix-blend-mode: multiply;
  margin-top: 5px;
  margin-right: 5px;
}

header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

#listtitle1, #listtitle2, #listtitle3{
  font-size: 30px;
  color: #654321;
  padding-left: 10px;
  font-weight: bolder;
  display: grid;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.content h2{
  margin: 10px 10px 10px 10px;
  display: grid;
  justify-content: center;
  padding-left: 10px;
}


.content p, p{
  justify-content: center;
  background-color: #ffdd99;
  padding: 25px 25px 25px 25px;
  border: 3px solid  #79a6d2;
  margin: 30px 30px;
}

#homephoto {
  display: grid;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


h3, .phome{
  background: #ffdd99;
  padding-left: 50px;
  padding: 10px 10px 10px 10px; 
  margin: auto;
  border: 3px solid  #79a6d2;
}

a {
  color:#228B22;
  font-weight: bolder;
  padding-bottom: 10px;

}

.skip-to-content-link {
  color: #000000;
  left: 1000%;
  position: relative;
  -webkit-transition: top 1s ease-out;

}

.skip-to-content-link:focus {
  left: 0;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (prefers-reduced-motion) {
  .logo {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  }

  header{
    background-attachment: initial;
    background-position: center;
  }

  .flip-card-inner {
    transition: none;
    transform-style: none;
  }
  
  .flip-card:focus-within .flip-card:hover .flip-card-inner {
    transform: none;
  }
  

  .gallery img{
    filter: opacity(100%);
  }

}

@media only screen and (min-width: 768px) {

  body {
    font-size: 26px;
  }
  
  h1 {
    font-size: 60px;
    margin-left: 30px
  }

  h2 {
    font-size: 40px;
  }

  p{
    font-size: 25px;
  }
  

  .nav li{
    justify-content: center;
  } 

header img{
  margin-top: 30px;
  margin-right: 30px;
  width: 175px;
}


.logo {
  margin-right: 50px;
}

.gallery{
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 10px;
}

.gallery img{
  justify-content: center;
  width: 170px;
  height: 175px;
}

#photothree {
  margin-left: 40px;
}

#homephoto {
  border: 10px solid  #79a6d2;
  border-radius: 25px;
  padding: 10px 10px 10px;
}

.kitsch, .colonial, .traditional {
  flex-direction: row;
  justify-content: center;
}

.kitsch img, .colonial img, .traditional img{
  max-width: 200px;
  max-height: 225px;
  margin: 15px;
}

.jcfurniture {
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.jcfurniture img{
  margin-left: 85px;
  margin-bottom: 20px;
}
}

@media only screen and (min-width: 1224px) {

  h1 {
    font-size: 80px;
    margin-left: 30px
  }

  h2 {
    font-size: 44px;
  }

  p{
    font-size: 28px;
  }

  #homephoto{
    max-height: 500px;
    max-width: 500px;
  }
  
  .gallery img{
    width: 650px;
    height: 650px;
    margin-left: 75px;
  }

  .kitsch img, .colonial img, .traditional img{
    max-width: 300px;
    max-height: 325px;
    margin: 15px;
  }

  .nav li{
    display: inline;
  }




}

  